.wp-block-lazyblock-hero-banner {
    //Insert SCSS here :D

    .container {
        padding :  $padding-desktop ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .hero-banner-header {
            font-size: 40px;
            color: $white;
        }
        .body_text {
            color: $white;
        }
    }
}